@import "./../variables";

.dates {
    text-align: center;
    font-size: 12.5rem;
    font-weight: 700;
    line-height: 10rem; /* 80% */
    letter-spacing: -0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5.9rem;
    margin-top: -22px;
    .startDate {
        color: $iris-100;

    }

    .endDate {
        color: $fuschia-100;
        margin-right: 2.5rem;
    }
}
