@import "../variables";

.historical {
    position: relative;
    height: 67.5rem;
    margin-left: 20rem;
    margin-right: 8.8rem;
    overflow: hidden;
    background: $Light-grey;
    border: 1px solid $Grey;

    &_header {
        padding-top: 10.4rem;
        position: relative;
        width: 353px;
        color: $Black-blue;
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 120%;
        margin-left: 4.9rem;

        &:before {
            content: '';
            position: absolute;
            top: 11rem;
            left: -5rem;
            width: 0.3rem;
            height: 7.5rem;
            background: linear-gradient(180deg, rgba(56, 119, 238, 1) 0%, rgba(239, 93, 168, 1) 72%);
        }
    }
}
